
.google_container,.github_wrapper{
color:#FFF;
padding:30px 10px;
max-width: 320px;
margin: 20px auto;
text-align: center;
}

.google_container{
  background-color: coral;
}
.github_wrapper{
  background-color:teal;
}
.g_signIn_btn,.g_signOut_btn{
  margin-top: 50px;
}

img{
  width: 100%;
  object-fit: cover;
}

.login_form_wrapper{
  background-color: rgba(127, 255, 212, 0.516);
padding:30px 10px;
max-width: 320px;
margin: 20px auto;
}


.error_msg{
  color: red;
}
.success_msg{
  color:green;
}